/*Font Family:*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

/*Keyframes:*/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

/*CSS Initial Resets:*/
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

/*Basic Body Config:*/
    body {    
        margin: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #03989e;
        background: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%), #03989e;
        justify-content: space-between;    
    }

    body{
        text-align: center;
    }

/*Header:*/
    header {
        display: flex;
        flex-direction: column;
        font-family: 'Noto Color Emoji', sans-serif;
        padding: 0px;
    }

    #appTitle {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #interrogationBtn {
        margin-bottom: 10px;
    }

/*Input field:*/
    article {
        margin-bottom: auto;
    }

    .timerFieldDisplay {    
        display: flex;
        justify-content: center;
        color: white;
    }

    input,
    .dots {
        border: none;
        background-color: rgb(1, 76, 79);
        color: white;
        text-align: center;
        font-size: 3em;
        font-family: 'Space Mono', serif;
    }

    input {
        width: 2em;
        height: 2em;
    }

    .dots {
        display: flex;
        align-items: center;
    }

    /*The place holder color and font-family in different browsers*/
        .number::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /*Firefox*/
            font-family: 'Space Mono', serif;
        }
        .number:-ms-input-placeholder{ /* Internet Explorer 10-11 */
            color: white;
            font-family: 'Space Mono', serif;
        }
        .number::-ms-input-placeholder{ /* Microsoft Edge */
            color: white;
            font-family: 'Space Mono', serif;
        }

/*Timer container:*/
    #buttonsBox {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    /*Buttons*/
        #playBtn {
            width: 40px;
            height: 40px;
            background: rgb(0,0,0,0);
            outline: 1px solid black;
            border-radius: 50%;
            position: relative;
        }  
        #playBtn:before {
            content: "";
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent rgb(0,0,0);
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
        }
        #playBtn:active {
            transform: scale(0.75);
            transition: transform 0.3s;
        }

        .pause-button {
            outline: 1px solid black;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }          
        .pause-icon {
            display: flex;
            flex-direction: row;
        }
        .pause-bar {
            width: 6px;
            height: 20px;
            background-color: black;
            margin: 2px 0;
        }          
        .pause-bar:first-of-type {
            margin-right: 3px;
        }          
        .pause-bar:last-of-type {
            margin-left: 3px;
        }
        .pause-button:active {
            transform: scale(0.75);
            transition: transform 0.3s;
          }
          

        svg {
            width: 42px;
            height: 42px;
            fill: "currentColor";
        }
        svg:active {
            transform: scale(0.75);
            transition: transform 0.3s;
        }

/*Instructions:*/
    #textInstructions {
        opacity: 0;
        animation: none;
        text-align: left;
        font-family: 'Chivo Mono', monospace;
        font-size: 14px;
    }
    #textInstructions>p {
        text-align: center;
    }
    ol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li {
        margin: 2px 0px;
        width: 40em;
    }

/*Footer*/
    footer {
        display: flex;
        justify-content: center;
    }

    #autorFoot,
    #githubFoot {
        font-size: medium;
        margin: 0px 10px;
        color: rgb(4,200,208, 80%);
    }
    #githubFoot {
        color: rgb(4,200,208);
    }

/*Media Queries:*/
    @media only screen and (max-width: 600px) {
        /*Header:*/
        header {
            flex-direction: row;
        }

        #appTitle {
            margin-top: 0px;
        }

        #interrogationBtn {
            margin-bottom: 0px;
        }

        /*Input field:*/
        .timerFieldDisplay {
            flex-direction: row;
        }
        input {
            width: auto;
            height: auto;
            font-size: 2em;
        }
        .dots {
            margin: 0 5px;
        }

        /*Timer container:*/
        #buttonsBox {
            flex-direction: row;
        }
            /*Buttons*/
            #playBtn,
            .pause-button,
            #stopBtn {
                width: 30px;
                height: 30px;
            }
            #playBtn:before {
                border-width: 8px 0 8px 8px;
            }
            .pause-button:before,
            .pause-button:after {
                border-width: 8px;
            }
            #stopBtn:before,
            #stopBtn:after {
                width: 50%;
                height: 50%;
            }
        /*Footer*/
        #autorFoot,
        #githubFoot {
            font-size: small;
            margin: 0px 10px;
            color: rgb(4,200,208, 80%);
        }
    }
